
    <div class="single-product pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 ">
                    <a class="btn btn-warning" href="/">Back</a>
                    <div class="card">
                        <div class="card-body">
                            <img class="w-100" src="/customer/1708807622864_3882_banner-two-bg.png" alt="">
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Re-Price</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>name</td>
                                    <td>Regular price</td>
                                    <td>Seel price</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  