
    <div class="single-product pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 ">
                    <div class="card">
                        <div class="card-body">
                            <a class="btn btn-warning" href="/">Back</a>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Re-Price</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Photo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01</td>
                                        <td>name</td>
                                        <td>Regular price</td>
                                        <td>Seel price</td>
                                        <td>20</td>
                                        <td><img style="width: 80px; height: 80px; border-radius:30px;" src="/customer/1708883457747_1710_banner-two-bg.png" alt=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  